* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #40e4c9;
    width: 100%;
    margin: auto;
}

nav button {
    font-size: 25px;
    background:none;
    border: none;
    color: rgb(18, 17, 17);
}

nav button:hover {
    cursor: pointer;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

#formSection {
    padding-top: 10px;
    border: 1px solid red;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

#formSection form {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}

#formSection form input {
    width: 90%;
    padding: 7px;
    margin: auto;
}

#formSection form select {
    width: 95%;
    padding: 7px;
    margin: auto;
}

.checkBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    margin: auto;
}

.checkBox p  {
    display: block;
    margin: auto;
}


label {
    margin: auto;
    font-size: 20px;
}


#formSection form input[type="submit"] {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 60%;
    border-radius: 10px ;
    border: 2px solid rgb(143, 78, 78);
    font-size: 20px;
    cursor: pointer;
    background-color: beige;
}